/*ES IMPORTANTE EL ORDEN DE JERARQUÍA AL DAR LOS ESTILOS EN CSS*/
body {
  font-family: sans-serif;
  background: pink;
}
h1 {
  font-size: 60px;
  color: purple;
}
nav {
  /*outline: 1px solid black;*/
  width: 400px;
  height: 250px;
}
ul {
  /*outline: 1px solid black;*/
  margin: 0px;
  padding: 0px;
  line-height: 50px;
}
li {
  /*outline: 1px solid yellow;*/
  background: #f5f5f0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
  padding-left: 15px;
  font-weight: 700;
}
/*ESTADOS DE LOS ENLACES: link vistited hover active  LoVe/HAte*/
a:hover {
  background: #e0e0d1;
}
a:active {
  background: #333;
  color: #fff;
}
ul li:first-child /*first-child es una pseudoclase*/ {
  background: #f9a91a;
}
ul li:first-child a {/*dandole color al contenido de la primera etiqueta 'a' contenida en la primera etiqueta 'li', que a su vez se encuentra contenida en la etiqueta 'ul'*/
  color: #fff;/*color blanco*/
}
ul li:first-child a:hover {
  color: #000;/*color negro*/
}
ul li:first-child a:active {
  color: #fff;
}
